<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Westfield Sportsman's Club" %></title>
    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= yield %>

    <footer>
      <div class="row">
        <div class="columns small-6">
          <p>
            <span class='nav-logo'><%= link_to "Westfield Sportsman's Club", root_path %></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;© 2017 All Rights Reserved.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
